<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/result/mood/" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="title"
        style="
          height: 46px;
          width: 190px;
          border-radius: 10px 0px 0px 10px;
          padding: 10px;
          border: 0;
        "
        min="0"
        max="100"
        placeholder="title"
      />
      <input
        type="text"
        name="category"
        style="
          height: 46px;
          width: 190px;
          border-radius: 10px 0px 0px 10px;
          padding: 10px;
          border: 0;
        "
        min="0"
        max="100"
        placeholder="category"
      />
      <input
        type="text"
        name="content"
        style="
          height: 46px;
          width: 190px;
          border-radius: 10px 0px 0px 10px;
          padding: 10px;
          border: 0;
        "
        min="0"
        max="100"
        placeholder="content"
      />
      <button
        style="
          margin-left: -5px;
          height: 45px;
          border-radius: 0px 10px 10px 0px;
          background-color: #f9014f;
          color: white;
          padding: 10px;
          border-color: white;
          vertical-align: middle;
        "
      >
        전달
      </button>
    </form>
  </body>
</html>